/* CSS Reset */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
	padding: 0;
}

html, body {
    height: 100%;
}

body {
	line-height: 1;
	font-family: "Inter", -apple-system, sans-serif;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Starts Here */

#container {
  height: 100%;
}

/* dropdown */

#dropdown-header {
  background-color: antiquewhite;
  padding: 4px;
  display: flex;
}

#dropdown-js {
  display: flex;
}

.dropdown-item-js {
  background-color: white;
  outline: 1px solid black;
  /* padding: 16px; */
}

.dropdown-item-js:hover .dropdown-btn-js {
  filter: brightness(0.8);
}

.dropdown-item-js:hover #dropdown-menu-js {
  display: block;
}

.dropdown-btn-js {
  padding: 16px;
  background-color: white;
}

.dropdown-btn-js:hover {
  filter: brightness(0.8);
}

.link {
  display: block;
  text-decoration: none;
  color: black;
  padding: 12px 16px;
  min-width: 100px;
  outline: 1px solid black;
  background-color: white;
}

.link:hover {
  filter: brightness(0.8);
}

#dropdown-menu-js {
  position: absolute;
  display: block;
  visibility: hidden;
}

/* mobile menu */
#mobile-container {
  height: 100%;
  display: flex;
  /* background-color: aqua; */
  justify-content: center;
  align-items: center;
}

#mobile-screen {
  display: flex;
  flex-direction: column;
  align-content:flex-end;

  border: 2px solid black;
  border-radius: 10px;
  min-width: 375px;
  min-height: 812px;
}

#navbar {
  display: flex;
  /* align-items: center; */

  background-color: rgb(61, 79, 126);
  border-radius: 10px 10px 0px 0px;
  min-height: 64px;

  padding: 8px;
}

#nav-items {
  display: flex;
  /* background-color: blue; */
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
}

.nav-item {
  display: flex;
  align-items: center;
  padding: 14px;
  background-color: white;
  cursor: pointer;
  /* height: 40px; */
}

#mobile-menu {
  display: block;
  max-height: 0px;
  overflow: hidden;
  background-color: red;
  transition: max-height 0.6s ease-out;
  /* position: absolute; */
}

/* #hamburger:focus ~ #mobile-menu {
  could use a sibling combinator but #mobile-menu doesn't share a parent
} */

.mobile-link {
  display: block;
  text-decoration: none;
  background-color: white;
  border: 1px solid black;
  padding: 12px;
}

#content {
  flex: 1;
  width: 375px;
  padding: 16px;
  background-color: antiquewhite;
}

#tabbar {
  background-color: rgb(61, 79, 126);
  min-height: 55px;
}

/* image carousel */

div {
  box-sizing: border-box;
}

#image-carousel {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#slides-container {
  position: relative;
  height: 300px;
  width: 450px;
  background-color: white;
  outline: 2px solid rgb(138, 138, 138);
  border-radius: 10px;
  overflow-y:auto;
  overflow-x: scroll;
}

#slides-container::-webkit-scrollbar {
    display: none;
}

#slides {
  display: flex;
  /* margin-right: 1px; */
  height: 100%;
  z-index: 2;
}

.slide {
  border: 0;
  border-radius: 9px;
}

#arrow-controls {
  display: flex;
  justify-content: space-between;

  border: 0;
  border-radius: 9px 0px 0px 9px;
  position: fixed;
  background: none;
  height: inherit;
  width: inherit;
  
  z-index: 3;
  justify-self: center;
  /* position: absolute; */
}

#arrow-controls button {
  width: 10%;
  border: none;
  background-color: rgba(138, 138, 138, 0.2);
  transition: filter 300ms;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* https://www.w3schools.com/howto/howto_css_arrows.asp */
.arrow {
  border: solid rgb(103, 103, 103);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 4px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

#left-button {
  border-radius: 8px 0px 0px 8px;
}

#right-button {
  border-radius: 0px 8px 8px 0px;
}

#left-button:hover, #right-button:hover {
  filter: brightness(0.3);
}

#progress-dots {
  background: none;
  display: flex;
  align-items: flex-end;
  gap: 8px;
  padding: 12px;
}

#dot {
  background-color: rgba(135, 135, 135, 0.687);
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

#dot[current] {
  filter: brightness(0.6);
}

#dot:hover {
  cursor: pointer;
}